*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

#Header{
    padding: 20px 0;
    background-color: gainsboro;
    position: relative;
    .container{
        padding: 0 2rem;
        .all{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                .logo-div{
                    width: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .right{
                .menu-mobile-btn{
                    cursor: pointer;
                    i{
                        font-size: 26px;
                    }
                    background: 0;
                    border: 0;
                    padding: 5px;
                }
            }
            .dropdown{
                width: 100%;
                position: absolute;
                top: 100%;
                left: 100%;
                background-color: bisque;
                transition: .4s;
                .dropdown-ul{
                    list-style-type: none;
                    .dropdown-item{
                        cursor: pointer;
                        .dropdown-all{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 1rem 2rem;
                            span{
                                font-size: 24px;
                            }
                            i{
                                transition: .4s;
                                font-size: 26px;
                            }
                            i.open{
                                transform: rotate(180deg);
                            }
                        }
                        .inner-dropdown{
                            height: 0px;
                            overflow: hidden;
                            transition: .4s;
                            background-color: gainsboro;
                            .inner-ul{
                                padding: 1rem 2rem;
                                list-style: none;
                            }
                        }
                        .inner-dropdown.active{
                            height: 110px;
                        }
                    }
                }
            }
            .dropdown.active{
                left: 0 !important;
            }
        }
    }
}